{% extends 'Emails/newBase.twig' %}
{% block content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns">
    <tr>
        <td bgcolor="#F1F5F9">
            <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                <tr>
                    <td bgcolor="#4c443e" data-bgcolor="Banner" style="background-color: rgb(255, 255, 255);">
                        <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                            <tr>
                                <td height="60">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                        <tr>
                                            <td class="scale-center-both-bottom">
                                                <img width="150" src="https://cdn2.hubspot.net/hubfs/2735287/Error/block_img@2x.png" style="display: block; margin: 0 auto;" border="0" class="" alt="">
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="245" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 16px; color: #c8bdb5;" class="scale">
                                        <tr>
                                            <td style="font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif; color: rgb(27, 27, 27); font-size: 24px;" class="scale-center-both-top" data-color="Headlines" data-size="Headlines" data-max="48">
                                                GDPR: Data Removal Request </td>
                                        </tr>
                                        <tr>
                                            <td height="18">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 27px; color: rgb(27, 27, 27);" class="scale-center-both" data-color="Paragraphs" data-size="Paragraphs" data-min="10" data-max="38">
                                                A Customer that has visited your site <a href="{{ branding.domain }}{{ serial }}">{{ alias }}</a> has requested that all their data be removed from our system.
                                                We at Stampede have taken the necessary steps to action this and now we need you to remove their details from any third party services i.e. MailChimp
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="47">
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="0">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Banner2">
    <tr>
        <td bgcolor="#F1F5F9">
            <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                <tr>
                    <td bgcolor="#ffffff" style="border-top: 1px solid #ebebeb;">
                        <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 24px; color: #222222;" class="scale">
                            <tr>
                                <td height="48">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" class="scale-center-both" data-color="Banner Paragraphs" data-size="Banner Paragraphs" data-max="48">
                                    <tr>
                                        <td>ID: </td><td>{{ customer.id }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td><td>{{ customer.email }}</td>
                                    </tr>
                                 
                                    {% if customer.first is not empty %}
                                        <tr>
                                            <td>First name:</td><td>{{ customer.first }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.last is not empty %}
                                        <tr>
                                            <td>Last name:</td><td>{{ customer.last }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.phone is not empty %}
                                        <tr>
                                            <td>Phone:</td><td>{{ customer.phone }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.postcode is not empty %}
                                        <tr>
                                            <td>Postcode:</td><td>{{ customer.postcode }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.age is not empty %}
                                        <tr>
                                            <td>Age:</td><td>{{ customer.age }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.birthMonth is not empty %}
                                        <tr>
                                            <td>Birth Month:</td><td>{{ customer.birthMonth }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.birthDay is not empty %}
                                        <tr>
                                            <td>Birth Day:</td><td>{{ customer.birthDay }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.gender is not empty %}
                                        <tr>
                                            <td>Gender:</td><td>{{ customer.gender }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.lat is not empty %}
                                        <tr>
                                            <td>Latitude &amp; Longitude:</td><td>{{ customer.lat }},{{ customer.lng }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if customer.country is not empty %}
                                        <tr>
                                            <td>Country:</td><td>{{ customer.country }}</td>
                                        </tr>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td height="48">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}