 <%- include ../header.ejs %>
 
 <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns">
        <tr>
            <td bgcolor="#F1F5F9">
                <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#4c443e" data-bgcolor="Banner" style="background-color: rgb(255, 255, 255);">
                            <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                                <tr>
                                    <td height="90">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                            <tr>
                                                <td class="scale-center-both-bottom">
                                                    <img width="150" src="https://stampede.ai/wp-content/uploads/2016/01/Analytics-1.png" style="display: block; margin: 0 auto;" border="0" alt="">
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 16px; color: #c8bdb5;" class="scale">
                                            <tr>
                                                <td style="font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif; color: rgb(27, 27, 27); font-size: 24px;" class="scale-center-both-top" data-color="Headlines" data-size="Headlines" data-max="48">
                                                   <%= alias %> The Reports Are In.</td>
                                            </tr>
                                            <tr>
                                                <td height="18">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="line-height: 27px; color: rgb(27, 27, 27);" class="scale-center-both" data-color="Paragraphs" data-size="Paragraphs" data-min="10" data-max="38">
                                                    Here is how <%= alias %> did last <%= type %>. (<%= start %> to <%= end %>)</td>
                                            </tr>
                                            <tr>
                                                <td height="48">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif;" class="scale-center-both">
                                                    <a href="<%= branding.domain %>#/network/<%= serial %>/insight/overview" style="text-decoration: none; border-top-left-radius: 25px; border-top-right-radius: 25px; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px; padding: 10px 32px; color: rgb(255, 255, 255); background-color: rgb(47, 195, 180); font-size: 13px;"
                                                    data-bgcolor="Buttons" data-color="Buttons" data-size="Buttons" data-max="26">
VIEW FULL REPORT</a> &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="45">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows" data-thumb="http://www.stampready.net/dashboard/templates/realtimetoe/thumbnails/realtimetoe03.jpg">
        <tr>
            <td bgcolor="#e7eaee">
                <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#FFFFFF" style="border-bottom: 1px solid #ebebeb;">
                            <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                                <tr>
                                    <td height="90">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                            <tr>
                                                <td class="scale-center-both">
                                                    <table width="40" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                                        <tr>
                                                            <td class="scale-center-both-bottom">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="195" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #323232;" class="scale">
                                                        <tr>
                                                            <td height="6">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Avenir LT W01 55 Roman', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 200;" class="scale-center-both" data-color="Headlines Small" data-size="Headlines Small" data-min="10" data-max="28">
                                                                <%= registrations %></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height: 24px;" class="scale-center-both-bottom" data-color="Paragraphs Small" data-size="Paragraphs Small" data-min="10" data-max="28">
                                                                Registrations</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
                                            <tr>
                                                <td class="scale-center-both">
                                                    <table width="40" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                                        <tr>
                                                            <td class="scale-center-all">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="195" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #323232;" class="scale">
                                                        <tr>
                                                            <td height="6">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Avenir LT W01 55 Roman', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 200;" class="scale-center-both" data-color="Headlines Small" data-size="Headlines Small" data-min="10" data-max="28">
                                                                <%= unique %></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height: 24px;" class="scale-center-both" data-color="Paragraphs Small" data-size="Paragraphs Small" data-min="10" data-max="28">
                                                                Unique Users</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                            <tr>
                                                <td height="60">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="scale-center-both">
                                                    <table width="40" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                                        <tr>
                                                            <td class="scale-center-both-bottom">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="195" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #323232;" class="scale">
                                                        <tr>
                                                            <td height="6">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Avenir LT W01 55 Roman', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 200;" class="scale-center-both" data-color="Headlines Small" data-size="Headlines Small" data-min="10" data-max="28">
                                                                <%= download %> / <%= upload %></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height: 24px;" class="scale-center-both" data-color="Paragraphs Small" data-size="Paragraphs Small" data-min="10" data-max="28">
                                                                Data downloaded / uploaded</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
                                            <tr>
                                                <td height="60">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="scale-center-both">
                                                    <table width="40" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
                                                        <tr>
                                                            <td class="scale-center-both-bottom">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="195" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #323232;" class="scale">
                                                        <tr>
                                                            <td height="6">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Avenir LT W01 55 Roman', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 200;" class="scale-center-both" data-color="Headlines Small" data-size="Headlines Small" data-min="10" data-max="28">
                                                                <%= logins %></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="12">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height: 24px;" data-color="Paragraphs Small" data-size="Paragraphs Small" data-min="10" data-max="28">
                                                                Logins</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="90">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Banner3" data-thumb="http://www.stampready.net/dashboard/templates/realtimetoe/thumbnails/realtimetoe11.jpg">
        <tr>
            <td bgcolor="#e7eaee">
                <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#FFFFFF" style="border-bottom: 1px solid #ebebeb;">
                            <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 16px; color: #686868;" class="scale">
                                <tr>
                                    <td height="90">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 24px; color: rgb(33, 133, 208);" class="scale-center-both" data-color="Numbers" data-size="Numbers" data-max="48">
                                        <font style="font-family:'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif; font-size: 124px;" data-size="Numbers Extra" data-max="124">
<%= repeat %></font> /<%= unique %> </td>
                                </tr>
                                <tr>
                                    <td height="42">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 24px;" class="scale-center-both" data-color="Headlines" data-size="Headlines" data-max="48">
                                        Users <font style="font-family:'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif; color: #343434;" data-color="Headlines Extra">
returned</font>. </td>
                                </tr>
                                
                                <tr>
                                    <td height="18">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="line-height: 27px; padding: 0px 60px 0px 60px;" class="scale-center-both" data-color="Paragraphs" data-size="Paragraphs" data-min="10" data-max="38">
                                        Returned rate is counting users that registered in another period.</td>
                                </tr>
                                <tr>
                                    <td height="48">
                                    </td>
                                </tr>
                        

                                <tr>
                                    <td height="90">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="Banner2">
        <tr>
            <td bgcolor="#e7eaee">
                <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#ffffff" style="border-top: 1px solid #ebebeb;">
                            <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 24px; color: #222222;" class="scale">
                                <tr>
                                    <td height="48">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="scale-center-both" data-color="Banner Paragraphs" data-size="Banner Paragraphs" data-max="48">
                                        Average time spent at your venue<font style="font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);" data-color="Banner P3">
<%= uptime %></font>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="48">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
<%- include ../footer.ejs %>

 <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                                <tr>
                                    <td>
                                        <table width="245" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif; font-size: 14px; color: #c8bdb5;" class="scale">
                                            <tr>
                                                <td height="0">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="scale-center-both" data-color="Footer Sublines" data-size="Footer Sublines" data-min="10" data-max="28" style="color: rgb(0, 0, 0);">
                                                    <a href="<%= branding.domain %>#/profile//settings" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 14px;" data-color="Footer Links" data-size="Footer Links" data-min="10" data-max="28">Unsubscribe from these emails</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="0" class="noshow">
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>


    </body>
    
    </html>