{% extends 'Emails/newBase.twig' %}
{% block content %}


    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns">
        <tr>
            <td bgcolor="#000000">
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#4C443E" data-bgcolor="Banner"
                            style=" background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px;">
                            <table width="470" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                                <tr>
                                    <td height="50"></td>
                                </tr>

                                <tr height="40">
                                    <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: rgb(27, 27, 27); font-size: 15px;"
                                        class="scale-center-both-top" data-color="Headlines" data-size="Headlines"
                                        data-max="48">Partner Net Revenue For {{ date }}</td>
                                </tr>

                                <tr>
                                    <td height="50"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><!-- END WIFI HEADER -->

    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows">
        <tr>
            <td bgcolor="#000000">
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
                    <tr>
                        <td bgcolor="#FFFFFF">
                            {% for index, partner in partners %}
                                <table style='margin-bottom: 10px;border-bottom: 3px solid #000000' width="470"
                                       border="0" cellspacing="0" cellpadding="0" align="center"
                                       class="scale push-sides">
                                    <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                        <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                            Name
                                        </td>

                                        <td align="right"
                                            style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ partner.first }} {{ partner.last }}</td>
                                    </tr>
                                    <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                        <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                            Email
                                        </td>

                                        <td align="right"
                                            style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ partner.email }}</td>
                                    </tr>
                                    <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                        <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                            Partner Company
                                        </td>

                                        <td align="right"
                                            style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ partner.company }}</td>
                                    </tr>
                                    <tr height="40" style="border-bottom: 2px dotted #000;">
                                        <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                            Net Revenue
                                        </td>

                                        <td align="right"
                                            style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">
                                            £{{ partner.net_revenue }}</td>
                                    </tr>
                                    {% for subscription in partner.subscriptions %}
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb;margin-left: 10px;">
                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                Subscription ID
                                            </td>

                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ subscription.subscription_id }}</td>
                                        </tr>
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb;margin-left: 10px;">
                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                Plan
                                            </td>

                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ subscription.plan_id }}</td>
                                        </tr>
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb; margin-left: 10px;">
                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                Serial
                                            </td>

                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">
                                                <a href="https://product.stampede.ai/{{ subscription.serial }}/overview">{{ subscription.serial }}</a>
                                            </td>
                                        </tr>
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb;margin-left: 10px;">
                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                Customer
                                            </td>

                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ subscription.first }} {{ subscription.last }}</td>
                                        </tr>
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb;margin-left: 10px;">
                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                Company
                                            </td>
                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">{{ subscription.company }}</td>
                                        </tr>
                                        <tr height="40" style="border-bottom: 1px solid #ebebeb;margin-left: 10px;">

                                            <td style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #929AA0; font-size: 13px;font-weight: 300;">
                                                MRR
                                            </td>

                                            <td align="right"
                                                style="font-family: 'Montserrat', Helvetica, Arial, sans-serif; color: #00000; font-size: 13px;font-weight: 500;">
                                                £{{ subscription.mrr }}</td>
                                        </tr>
                                        <table style="margin-bottom: 5px;border-bottom: 3px dotted #000000">
                                        </table>
                                    {% endfor %}
                                </table>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr bgcolor="#FFFFFF">
                        <td height="100"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



{% endblock %}