{% extends 'Emails/ReviewTemplate/base.twig' %}

{% block content %}


	<table class="main content builder scale" align="center" width="600" style="background-image: url({{background_image}});">

		<tr>
			<td>
				<table align="center" width="430" class="push-sides-sm">
					<tr height="35"></tr>
					<tr height="118" bgcolor="transparent">
						<td class="message-formatting-header header-logo" align="{{text_alignment}}">
							<img width="118" src="{{header_image}}" class="p-15-0">
						</td>
					</tr>
				</table>
				<table width="430" bgcolor="white" align="center" class="push-sides-sm message-formatting-container">

					<tr height="35"></tr>


					<tr class="review-stars-top">
						<td>
							<img alt="review-icon" src="https://assets.stampede.ai/review/ic-reviews_email-stars_bundle.png">
						</td>
					</tr>


					<tr height="35"></tr>

					<tr>
						<td class="message-title message-formatting-body fs-18 text-black" align="{{text_alignment}}">{{title_text}}</td>
					</tr>

					<tr height="30"></tr>
					<tr>
						<td class="message-formatting-body fs-12 text-black" align="{{text_alignment}}">
							<p>{{body_text | raw}}</p>
						</td>
					</tr>
					<tr height="30"></tr>

					<tr>
						<td class="uppercase bold black text-center fs-10 p-b-20">How was everything?</td>

					</tr>

					<tr>
						<td class="message-formatting-body">
							<table class="star-block ">
								<tr class="stars">
									<td>
										<a href="{{ link1 }}">
											<img src="https://assets.stampede.ai/review/awful.png"/>
										</a>
									</td>
									<td>
										<a href="{{ link2 }}">
											<img src="https://assets.stampede.ai/review/poor.png"/>
										</a>
									</td>
									<td>
										<a href="{{ link3 }}">
											<img src="https://assets.stampede.ai/review/ok.png"/>
										</a>
									</td>
									<td>
										<a href="{{ link4 }}">
											<img src="https://assets.stampede.ai/review/good.png"/>
										</a>
									</td>
									<td>
										<a href="{{ link5 }}">
											<img src="https://assets.stampede.ai/review/great.png"/>
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>
		<tr height="30"></tr>
	</table>

{% endblock %}
