{% extends 'Emails/newBase.twig' %}
{% block content %}
     <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows">
        <tr>
            <td width="100%">
                <table bgcolor="#FFFFFF" align="center" border="0" cellspacing="0" cellpadding="0"
                       width="560">
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                <tr>
                                    <td class="fs-32 text-light" colspan="2">
                                        {{ title }}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35"></td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td>ID: </td><td><a href="https://master.stampede.ai/customer/{{ customer.id }}" >{{ customer.id }}</a></td><td></td>
                                </tr>
                                <tr>
                                    <td>Name: </td><td>{{ customer.name }}</td><td></td>
                                </tr>
                                <tr>
                                    <td>Email: </td><td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td><td></td>
                                </tr>
                                <tr>
                                    <td>Reason: </td><td><q>{{ reason }}</q></td><td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Serials: </td>
                                </tr>
                                {% for serial in serials %}
                                    <tr>
                                        <td></td><td>{{ serial }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>
                 
                </table>
            </td>
        </tr>
    </table>
{% endblock %}