<table>
    <tr>
        <td>
            {{ title }}
        </td>
    </tr>
    <tr>
        <td>ID: </td><td>{{ customer.id }}</td><td></td>
    </tr>
    <tr>
        <td>Name: </td><td>{{ customer.name }}</td><td></td>
    </tr>
    <tr>
        <td>Email: </td><td>{{ customer.email }}</td><td></td>
    </tr>
    <tr>
        <td>Reason: </td><td>{{ reason }}</td><td></td>
    </tr>
    <tr>
        <td>Serials: </td>
    </tr>
    {% for serial in serials %}
        <tr>
            <td></td><td>{{ serial }}</td>
        </tr>
    {% endfor %}
</table>
