{% extends 'Emails/newBase.twig' %}
{% block content %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" data-module="2Columns 2Rows">
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="scale b-t-r"
                       bgcolor="white">
                    <tr>
                        <td width="100%">
                            <table bgcolor="#FFFFFF" align="center" border="0" cellspacing="0" cellpadding="0"
                                   width="560">
                                <tr>
                                    <td height="15"></td>
                                </tr>

                                <tr>
                                    <td class="fs-32 text-lighter">
                                        Payment Recipt
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35">
                                    </td>
                                </tr>

                                <tr>
                                    <td class="bold fs-18 text-lighter">
                                       {{ text }}
                                    </td>
                                </tr>

                                <tr>
                                    <td height="30"></td>
                                </tr>

                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="fs-18 text-lighter">
                                        Name
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ name }}</td>
                                </tr>
                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="fs-18 text-lighter">
                                        Time
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ cleanTime }}</td>
                                </tr>
                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="fs-18 text-lighter">
                                        ID
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ items.transaction_id }}</td>
                                </tr>
                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="fs-18 text-lighter">
                                        Plan
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ items.plan_name }}</td>
                                </tr>
                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="fs-18 text-lighter">
                                        Devices
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ items.devices }}</td>
                                </tr>


                                <tr height="40" style="border-bottom: 1px solid #ebebeb;">
                                    <td class="text-lighter fs-18">
                                        Expires
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ expires }}</td>
                                </tr>
                                <tr height="40">
                                    <td class="fs-18 text-lighter">
                                        Price
                                    </td>

                                    <td align="right"
                                        style="color: #00000; font-size: 13px;font-weight: 500;">{{ items.amount }}</td>
                                </tr>

                                <tr>
                                    <td height="30"></td>
                                </tr>
                                <tr>
                                    <td class="bold fs-18 text-lighter">Have another device?
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td class="fs-18 text-lighter">Connect the
                                        device to WiFi and scroll to the 'Already Paid?' section and enter
                                        the email address you used to pay for the plan.
                                        <br>
                                        <br>Thanks for being a great customer.
                                    </td>
                                </tr>

                                <tr>
                                    <td height="40"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

{% endblock %}

