{% extends 'Emails/newBase.twig' %}
{% block content %}


	<table bgcolor="#FFFFFF" align="center" border="0" cellspacing="0" cellpadding="0" width="560">

		<tr>
			<td class="fs-12 text-lighter text-uppercase">New Notification</td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td class="fs-32 xbold black">
				{{title}}
			</td>
		</tr>
		<tr>
			<td height="35"></td>
		</tr>
		<!--
																																					<tr bgcolor="#FFFFFF" align="center">
																																						<td>
																																							{% if status == "ok" %}
																																								<img src="https://assets.stampede.ai/icons/check-circle.png" alt="ok notification img" width="100px" align="center"/>
																																							{% elseif status == "warning" %}
																																								<img src="https://assets.stampede.ai/icons/alert-circle.png" alt="warning notification img" width="100px" align="center"/>
																																							{% endif %}
																																						</td>
																																					</tr>
																																-->


		<tr>
			<td class="fs-18 text-lighter">{{ message }}</td>
		</tr>

		<tr>
			<td height="35"></td>
		</tr>
		<tr>
			<td>

				{% if  externalLink %}
					<a href="{{ link }}" class="bx-button clear-link">Open</a>
				{% else %}
					<a href="{{ branding.domain }}{{ link }}" class="bx-button clear-link">Open</a>
				{% endif %}

			</td>
		</tr>

		<tr>
			<td height="40"></td>
		</tr>
	</table>


{% endblock %}
