Thank you for checking-in at {{ alias }}, we hope you enjoyed your visit today.

At {{ alias }} we’re making every effort to keep all customers safe, but we need your help to do it!

When you’re ready to leave {{ alias }} click 'I've Left' to let us know you’ve departed.

<a href={{ link }}>I've Left</a>

Why Are we doing this?

To assist the NHS with any contact tracing efforts it helps to know when people arrive and when they leave.

Simply by clicking the link above you’ll be doing your part to help out.

Thank you so much for your visit and support.

{{ alias }} Management Team

